@{
    ViewData["Title"] = "Home Page";
}

<body>

    <br />

    <div class="text-center">
        <h1 class="mt-4 display-6">Breaking News</h1>
    </div>

    <br />
    <br />

    <div class="container-bg1">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <img src="/img/uktun.webp" alt="UK urged to seek release of Tunisian opposition figure" class="rounded img-thumbnail" />
                    <p class="h3">UK urged to seek release of Tunisian opposition figure jailed in crackdown</p>
                </div>
                <div class="col-4">
                    <div>
                        <img src="/img/klgbtq.webp" alt="Kenya LGBTQ Win" class="rounded img-thumbnail" width="200" />
                        <h5>
                            Kenya’s LGBTQ community wins bittersweet victory in battle for rights
                        </h5>
                        <hr />
                    </div>

                    <div>
                        <img src="/img/hsyndr.jpg" alt="Havana Syndrome" class="rounded img-thumbnail" width="200" />
                        <h5>
                            ‘Havana syndrome’ not caused by foreign adversary, US intelligence says
                        </h5>
                        <hr />
                    </div>

                    <div>
                        <img src="/img/ccovid.webp" alt="China Post Covid" class="rounded img-thumbnail" width="200" />
                        <h5>
                            China sets modest economic targets as it seeks to bounce back from Covid woes
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />
    <hr />
    <br />
    <br />

    <div class="container-bg1">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <img src="/img/vputin.jpg" alt="Vladimir Putin" class="rounded img-thumbnail">
                    <h5 class="text-center">Putin accuses Ukraine of border 'terrorist act' in Russian village</h5>
                    <hr />
                    <p class="text-center">
                        Russian President Vladimir Putin says a Ukrainian sabotage group entered a Russian border
                        region on Thursday and opened fire on civilians in a "terrorist act". The governor of
                        Bryansk region said "saboteurs from Ukraine" had fired at a civilian car in Lyubechane,
                        a border village, killing two men and wounding a 10-year-old boy. Kyiv strongly denied the
                        Russian claim.
                    </p>
                </div>
                <div class="col-4">
                    <img src="/img/gtraincrash.jpg" alt="Greece Train Crash" class="rounded img-thumbnail">
                    <h5 class="text-center">Greece train crash: 57 people confirmed dead as public anger grows</h5>
                    <hr />
                    <p class="text-center">
                        The crash happened just before midnight on Tuesday. A passenger train carrying 350 people
                        collided with a freight train after both ended up on the same track - causing the front
                        carriages to burst into flames. Many in Greece see the crash as an accident waiting to happen,
                        and the union blamed successive governments' "disrespect" towards Greek railways for leading
                        to this "tragic result".
                    </p>
                </div>
                <div class="col-4">
                    <img src="/img/vzelensky.jpg" alt="Volodymyr Zelensky" class="rounded img-thumbnail">
                    <h5 class="text-center">
                        No, Volodymyr Zelenskiy didn't say American sons and daughters have to
                        fight in Ukraine
                    </h5>
                    <hr />
                    <p class="text-center">
                        The out-of-context 19-second video has been viewed millions of times on Twitter. It features
                        a clip of Zelenskiy speaking at a news conference last week as an interpreter translates his
                        words into English as follows: "The US will have to send their sons and daughters, exactly
                        the same way as we are sending, their sons and daughters to war. And they will have to fight
                        because it's NATO that we're talking about. And they will be dying, God forbid, because it's
                        a horrible thing."
                    </p>
                </div>
            </div>
        </div>
    </div>

    <hr />


</body>

