@{
    ViewData["Title"] = "New Zealand";
}

<body>

    <br />

    <h1 class="mt-4 display-6 text-center">@ViewData["Title"]</h1>

    <br />
    <br />

    <div class="container-bg1">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <img src="/img/c19.jpg" alt="Covid-19 Cases NZ March 6th 2023" class="rounded img-thumbnail" />
                    <p class="h3">Covid-19 update: 11,453 new cases, six deaths and 177 in hospital</p>
                </div>
                <div class="col-4">
                    <div>
                        <img src="/img/hcrisis.jpg" alt="NZ Housing prices" class="rounded img-thumbnail" width="200" />
                        <h5>
                            New Zealanders' house price expectations plummet to lows last seen during Global
                            Financial Crisis - ASB
                        </h5>
                        <hr />
                    </div>

                    <div>
                        <img src="/img/census.jpg" alt="Census 2023" class="rounded img-thumbnail" width="200" />
                        <h5>
                            1m and counting: Time ticking on filling in 2023 census
                        </h5>
                        <hr />
                    </div>

                    <div>
                        <img src="/img/flood.jpg" alt="Auckland-based Mother still affected by floods" class="rounded img-thumbnail" width="200" />
                        <h5>
                            Rates demand pressures West Auckland mum as flooding ordeal drags on
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />
    <hr />
    <br />
    <br />

    <div class="container-bg1">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <img src="/img/wbrown.jpg" alt="Wayne Brown, Auckland Mayor" class="rounded img-thumbnail">
                    <h5 class="text-center">Wayne Brown - What was he doing during the Auckland Floods?</h5>
                    <hr />
                    <p class="text-center">
                        Brown's leadership on the afternoon and evening of January 27 has been called into question,
                        with criticism levelled at his communication during the disaster. He's since apologised and
                        ordered an independent investigation into the response.
                    </p>
                </div>
                <div class="col-4">
                    <img src="/img/mwood.jpg" alt="Michael Wood" class="rounded img-thumbnail">
                    <h5 class="text-center">Senior Government minister Michael Wood hints at voting age referendum</h5>
                    <hr />
                    <p class="text-center">
                        It follows a Supreme Court declaration late last year the current voting age of 18 was
                        inconsistent with the right in the New Zealand Bill of Rights to be free of discrimination
                        on the basis of age.
                    </p>
                </div>
                <div class="col-4">
                    <img src="/img/scane.jpg" alt="Sam Cane on new AB coach selection" class="rounded img-thumbnail">
                    <h5 class="text-center">
                        'No comment' from Sam Cane on NZ Rugby's coach communication
                    </h5>
                    <hr />
                    <p class="text-center">
                        The All Blacks captain spoke to 1News this afternoon after New Zealand Rugby (NZR) yesterday
                        stated it hoped to finalise the new coach selection in the next six weeks - and Ian Foster
                        later revealing he won't be contesting it. Cane, speaking at Auckland Airport ahead of the
                        Chiefs flight to Melbourne for this week's Super round, said he and the rest of the All Blacks
                        leadership group were in a Zoom call with NZR CEO Mark Robinson on Tuesday night when they
                        were updated.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <hr />


</body>

