@{
    ViewData["Title"] = "Sports";
}

<body>

    <br />

    <h1 class="mt-4 display-6 text-center">@ViewData["Title"]</h1>

    <br />
    <br />

    <div class="container-bg1">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <img src="/img/breakerkings.jpg" alt="NZ Breakers vs Kings" class="rounded img-thumbnail" />
                    <p class="h3">'Stressed' NZ Breakers back to drawing board as Sydney Kings level NBL finals</p>
                </div>
                <div class="col-4">
                    <div>
                        <img src="/img/bferns.jpg" alt="Black Ferns beat France" class="rounded img-thumbnail" width="200" />
                        <h5>
                            Black Ferns Sevens wallop France to advance into final in Vancouver
                        </h5>
                        <hr />
                    </div>

                    <div>
                        <img src="/img/jrapana.jpg" alt="ChatGPT AI" class="rounded img-thumbnail" width="200" />
                        <h5>
                            Kiwis star Jordan Rapana set for long NRL ban after big hit in Raiders' loss to Cowboys
                        </h5>
                        <hr />
                    </div>

                    <div>
                        <img src="/img/mverst.jpg" alt="Tesla Model Y" class="rounded img-thumbnail" width="200" />
                        <h5>
                            Max Verstappen makes perfect start to F1 defence as Red Bull goes 1-2 in Bahrain
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />
    <hr />
    <br />
    <br />

    <div class="container-bg1">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <img src="/img/ljames.jpg" alt="LeBron James Injury" class="rounded img-thumbnail">
                    <h5 class="text-center">
                        LeBron James goes down with foot injury - What is his return
                        timeline?
                    </h5>
                    <hr />
                    <p class="text-center">
                        Los Angeles Lakers forward LeBron James will be out at least three weeks with a
                        right foot injury, the team announced Thursday. The team said James has been evaluated
                        by Lakers team physicians and medical staff, who determined James has sustained a right
                        foot tendon injury and will be reevaluated in approximately three weeks.
                    </p>
                </div>
                <div class="col-4">
                    <img src="/img/kdurant.jpg" alt="Kevin Durant Return" class="rounded img-thumbnail">
                    <h5 class="text-center">
                        Kevin Durant debuts with Suns with no regrets and no expectations other than to hoop
                    </h5>
                    <hr />
                    <p class="text-center">
                        Durant played 27 minutes — a few more than he was scripted to — and scored 23 points
                        with six rebounds, two assists and two blocked shots in the Suns’ 105-91 win over the
                        Hornets. The hooper in Durant was just glad to break a real sweat, to get back to
                        competition for the first time since an MCL injury in early January sidelined him for
                        several weeks.
                    </p>
                </div>
                <div class="col-4">
                    <img src="/img/njokic.jpg" alt="Nikola Jokic MVP Run" class="rounded img-thumbnail">
                    <h5 class="text-center">
                        2022-23 NBA MVP Race: Nikola Jokić in the driver's seat
                    </h5>
                    <hr />
                    <p class="text-center">
                        Only three players in NBA history have won three straight MVPs: Bill Russell (1960-63),
                        Wilt Chamberlain (1965-68) and Larry Bird (1983-86). As you can see, it’s something
                        that hasn’t been done in 37 years. If the season ended today, Jokić would bring that
                        streak to an end. Jokić has dominated the league all season. He’s now averaging a
                        triple-double — he’s also recorded two since the All-Star break — and leads the league
                        in most catch-all advanced stats. With him on the court, the Nuggets have thrashed
                        opponents in non-garbage time minutes by an absurd 14.1 points per 100 possessions.
                        When Jokić sits, the Nuggets have actually been outscored by 12.7, according to
                        'Cleaning the Glass'.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <hr />

</body>

