@{
    ViewData["Title"] = "Technology";
}

<body>

    <br />

    <h1 class="mt-4 display-6 text-center">@ViewData["Title"]</h1>

    <br />
    <br />

    <div class="container-bg1">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <img src="/img/aiscam.jpg" alt="AI Scam call" class="rounded img-thumbnail" />
                    <p class="h3">They thought loved ones were calling for help - it was an AI scam</p>
                </div>
                <div class="col-4">
                    <div>
                        <img src="/img/ttok.jpg" alt="TikTok soft ban" class="rounded img-thumbnail" width="200" />
                        <h5>
                            Defence Force orders TikTok to be wiped from phones
                        </h5>
                        <hr />
                    </div>

                    <div>
                        <img src="/img/cgpt.jpg" alt="ChatGPT AI" class="rounded img-thumbnail" width="200" />
                        <h5>
                            Investors are going nuts for ChatGPT-ish artificial intelligence
                        </h5>
                        <hr />
                    </div>

                    <div>
                        <img src="/img/teslay.jpg" alt="Tesla Model Y" class="rounded img-thumbnail" width="200" />
                        <h5>
                            Tesla recalls 3,470 Model Y vechicles over loose bolts
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />
    <hr />
    <br />
    <br />

    <div class="container-bg1">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <img src="/img/spichai.jpg" alt="Sundar Pichai Google CEO" class="rounded img-thumbnail">
                    <h5 class="text-center">Google execs tell employees in testy all-hands meeting that Bard A.I. isn’t just about search</h5>
                    <hr />
                    <p class="text-center">
                        Google executives are continuing to deal with the fallout from last month’s fumbled announcement of the company’s
                        artificial intelligence engine called Bard, but their efforts to clean up the mess are causing further confusion
                        among the workforce.
                    </p>
                </div>

                <div class="col-4">
                    <img src="/img/medge.webp" alt="Sundar Pichai Google CEO" class="rounded img-thumbnail">
                    <h5 class="text-center">Microsoft Edge is getting a video upscaler to make blurry old videos look better</h5>
                    <hr />
                    <p class="text-center">
                        Microsoft has unveiled Video Super Resolution (VSR) — an “experimental” video upscaling feature for its Edge
                        web browser that uses machine learning to increase the resolution of low-quality video. Announced on the Edge
                        Insiders blog, Microsoft’s VSR technology can “remove blocky compression artifacts” and improve text clarity
                        for videos on platforms such as YouTube. The feature is still in testing and availability is currently restricted
                        to half of the users running the Canary channel of Edge in Microsoft’s Insider program.
                    </p>
                </div>

                <div class="col-4">
                    <img src="/img/metavr.jpeg" alt="Michael Wood" class="rounded img-thumbnail">
                    <h5 class="text-center">Meta announces big price cuts for its VR headsets</h5>
                    <hr />
                    <p class="text-center">
                        Meta will slash the prices of its Quest 2 and high-end Quest Pro headsets, the company announced Friday. The price
                        of the 256GB Meta Quest 2 will drop from $499.99 to $429.99, while the price of the higher-end Meta Quest Pro will
                        be slashed to $999.99 from $1,499.99 (USD).
                    </p>
                </div>
            </div>
        </div>
    </div>

    <hr />


</body>
